.place__paragraph-container_screen_notebook {
display: none;
}

@media screen and (max-width: 1100px) {
  .place__paragraph-container_screen_notebook {
    display: block;
    }
}

@media screen and (max-width: 900px) {
  .place__paragraph-container_screen_notebook {
    display: none;
    }
}
