.place__paragraph-container_screen_pad {
display: none;
}

@media screen and (max-width: 900px) {
  .place__paragraph-container_screen_pad {
    display: block;
    }
}

@media screen and (max-width: 500px) {
  .place__paragraph-container_screen_pad {
    display: none;
    }
}
