.content__intro {
  margin: 92px auto;
}

@media screen and (max-width: 1080px) {
  .content__intro {
    margin: 92px 48px;
  }
}

@media screen and (max-width: 928px) {
  .content__intro {
    margin: 88px 24px;
  }
}

@media screen and (max-width: 720px) {
  .content__intro {
    margin: 64px 16px;
  }
}
