.footer {
  display: flex;
  justify-content: space-between;
  max-width: 1184px;
  color: white;
}

@media screen and (max-width: 720px) {
  .footer {
    display: flex;
    flex-direction: column;
  }
}

