.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1184px;
  color: white;
}

@media screen and (max-width: 720px) {
  .footer {
    display: list-item;
    list-style: none;
  }
}

