.place__website {
  display: grid;
  padding: 0;
  align-self: end;
  align-content: space-between;
}

@media screen and (max-width: 760px) {
  .place__website {
    margin-left: 16px;
    margin-right: 16px;
  }
}
